<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEsamiLabel" jhiTranslate="safOriApp.esami.home.createOrEditLabel">Create or edit a Esami</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!esami.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="esami.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safOriApp.esami.data" for="field_data">Data</label>
            <div class="input-group">
                <input id="field_data" type="text" class="form-control" name="data" ngbDatepicker  #dataDp="ngbDatepicker" [(ngModel)]="esami.data"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safOriApp.esami.relEsamiSedi" for="field_relEsamiSedi">Rel Esami Sedi</label>
            <select class="form-control" id="field_relEsamiSedi" name="relEsamiSedi" [(ngModel)]="esami.relEsamiSediId">
                <option [ngValue]="null"></option>
                <option [ngValue]="sediOption.id" *ngFor="let sediOption of relesamisedis; trackBy: trackSediById">{{sediOption.sede}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safOriApp.esami.relMatEsami" for="field_relMatEsami">Rel Mat Esami</label>
            <select class="form-control" id="field_relMatEsami" name="relMatEsami" [(ngModel)]="esami.relMatEsamiId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="materieOption.id" *ngFor="let materieOption of materies; trackBy: trackMaterieById">{{materieOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
